.section__footer{
	background-color: var(--lightblue);
	height: 570px;
}

@media screen and (min-width: 768px){
	.section__footer{
		max-height: 368px;
	}
}

.footer__content{
	padding: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 1rem;
	
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
	.footer__content{
		flex-direction: row;
		justify-content: space-between;
		width: 94%;
	}
}

.footer__menu{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

@media screen and (min-width:1440px) {
	.footer__menu{
		flex-direction: row;
		gap: 6rem;
		align-items:flex-start;
	}
}

.footer__list{
	line-height: 2rem;
	text-align:center;
}

@media screen and (min-width:768px){
	.footer__list{
		text-align: left;
	}
}

.footer__list--item{
	font-weight: 500;
	font-size: 1rem;
	color: var(--black);
}


/* FORM  */

.footer__form{
	width: 90%;
}

@media screen and (min-width: 768px){
	.footer_form{
		width: 50%;
	}
}

.contact__form{
	border: none;
}

.form__title{
	font-weight: 700;
	font-size: 1rem;
	color: var(--black);
	line-height: 1.174rem;
}

.input__container{
	position: relative;
}

.input__container--invalid {
	margin-bottom: 0.5rem;
}

.input__container--invalid .form__input {
	border: 1px solid var(--warning-color);
	border-radius: 7px;
}

.input__container--invalid .form__label {
	color: var(--warning-color);
} 

.input__message-error {
	display: none;
}
  
.input__container--invalid .input__message-error {
	color: var(--warning-color);
	display: block;
	padding-left: 0.5rem;
	font-size: 0.8rem;
}
  


.form__input{
    width: 100%;
	padding: 1.50rem 0.75rem 0.5rem;
	margin: 0.5rem 0 1rem 0;
	border-radius: 4px;
	border: none;
	border-bottom: 1px solid var(--label);
    background: var(--white);
	font-family: inherit;
    font-size: 1rem;    
    outline: none;
}

.form__input:not(:placeholder-shown) + .form__label, 
.form__input:focus + .form__label{
    transform: translateY(13px) scale(.7);
    transform-origin: top left;
}

.form__label{
    color: var(--label);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(20px);
    transition: transform .5s;
	padding-top: 0.3rem;
}


.footer__btn{
	background-color: var(--blue);
	border: none;	
	width: 118px;
	height: 40px;
}

.footer__btn a{
	color: var(--white);
}


/* RODAPIE */

.footer__rodapie{
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.174rem;
	font-weight: 500;
	
	padding: 1.5rem;
	line-height: 1.5;
}